@import '../../global';

.main {
    &__content {
        font-family: Play, Verdana;

        h2 {
            font-size: 2rem;
            font-weight: bold;
        }

        p {
            font-size: 1.5rem;
        }
    }

    &__content-box {
        background-color: rgba($white, .4);
        border-radius: 1.5em;
        position: relative;
        top: 5rem;
        left: 2.5rem;
    }

    &__topstage {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: $gray-light;
        height: 40vh;
        border-bottom: $primary solid 0.25em;

        @include media-breakpoint-up(sm) {
            height: 50vh;
        }

        @include media-breakpoint-up(md) {
            height: 60vh;
        }

        @include media-breakpoint-up(lg) {
            height: 70vh;
        }

        @include media-breakpoint-up(xl) {
            height: 85vh;
        }
    }

}

.main__home {
    background-image: url('../images/header/oc_titelbild_norwegen.jpg');
}
