.main__header {
    border-bottom: $primary solid 0.25em;
    background: rgba($gray-darker, .75);
    color: $white;

    a {
        color: $white;
    }

    a:hover {
        color: $primary;
    }
}
