@import '../../global';

.main {
    &__footer {
        border-top: $red solid 0.25em;
        background: $gray-darker;
        color: $white;
        padding: 1rem;
        min-height: 10rem;

        a {
            color: $primary;
        }
    }
}

.footer__small {
    font-family: 'Montserrat';
    font-size: 0.7rem;
    font-weight: 300;
}
